<!--
    Popups for all pages
-->


<!--/admin-->
<!-- use to display card/friend/trade info in /admin-->
<div class="popup" id="adminUserTableInfoPopUp" onmouseup="toggleTable(true, 0, event, 'user')"
hidden="true">
    <table class="popupContents" id="adminTableInfoTable">
        <thead>
            <tr>
                <th id="adminTableInfoHeader" colspan="100">ColName</th>
            </tr>
        </thead>
        <td class="noMatchMessage" hidden="true">Nothing to Show</td>
    </table>
</div>

<!-- use to display trade card info in/admin-->
<div class="popup" id="adminTradeTableInfoPopUp" onmouseup="toggleTable(true, 0, event, 'trade')" 
hidden="true">
    <table class="popupContents">
        <tbody style="display:table; height: 100%;">
            <tr style="height:10%;">
                <th style="width:50%;">Offered</th>
                <th>Requested</th>
            </tr>
            <tr>
                <td>
                <table class="adminTradeTableInfoPopUpTable cardTable">
                    <tbody>
                        <tr><td class="noMatchMessage" hidden="true">No Cards</td></tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table class="adminTradeTableInfoPopUpTable cardTable">
                    <tbody>
                        <tr><td class="noMatchMessage" hidden="true">No Cards</td></tr>
                    </tbody>
                </table>
            </td>
            </tr>
        </tbody>
    </table>
</div>


<!--trade-->
<!-- use to display cards info in /trade-->
<div class="popup" id="tradeTableInfoPopUp" onmouseup="toggleTable(true, event)" hidden="true">
    <table class="popupContents cardTable" id="tradeTableInfoTable">
        <thead>
            <th>Cards</th>
        </thead>
        <td class="noMatchMessage" hidden="true">No Cards</td>
    </table>
</div>

<!--trade selection card info-->
<!-- use to display cards info in /tradeSelection-->
<div class="popup" id="tradeSelectionInfoPopUp" onmouseup="showCardDetails(event, true)" hidden="true">
    <iframe style="padding: 0%; width: 70%; height: 70%; left: 5%; display:block; margin:10%; top: 0.1%;" class="popupContents cardTable" id="tradeSelectionCardViewer" hidden="true">
    </iframe>
</div>

<!--help-->
<div class="popup" id="helpPagePopUp" onmouseup="help(true)" hidden="true">
    <div class="popupContents" style="padding-top:1%; overflow: hidden; width: fit-content; height: fit-content; margin: 20%; bottom: 0%; right: 0%;">
        <h1 id="helpPageName">PAGE NAME</h1>
        <p id="helpPageInfo">PAGE NAME</p>
    </div>
</div>