<!--
    Row templates, used to display data in tables. Clone using id and move to
    appropriate table.
-->


<!--/admin-->
<!-- row template for user data in /admin-->
<table hidden="true">
    <tr class="adminUserSampleRow">
        <td class="id">ID</td>
        <td class="username">Name</td>
        <td class="password">Pass</td>
        <td class="buttonContainer" onclick="toggleTable(false,'Owned Cards', event,'user')">Cards</td>
        <td class="buttonContainer" onclick="toggleTable(false,'Friends', event,'user')">Friends</td>
        <td class="buttonContainer" onclick="toggleTable(false,'Ongoing Trades', event,'user')">Trades</td>
        <td class="type">Type</td>
        <td class="buttonContainer" onclick="deleteUser(event)">X</td>
    </tr>
</table>

<!-- row template for trade data in /admin-->
<table hidden="true">
    <tr class="adminTradeSampleRow">
        <td class="tradeId">ID</td>
        <td class="senderId">Sender ID</td>
        <td class="receiverId">Receiver ID</td>
        <td class="buttonContainer" onclick="toggleTable(false,'Trade Cards', event,'trade')">Cards</td>
        <td style="padding: 0%;">
            <select class="tradeStatus" onchange="changeTradeStatus(event)">
                <option value="PENDING">PENDING</option>
                <option value="REJECTED">REJECTED</option>
                <option value="ACCEPTED">ACCEPTED</option>
                <option value="UPDATED">UPDATED</option>
            </select>
        </td>
        <td class="buttonContainer" onclick="deleteTrade(event)" class="buttonContainer">X</td>
    </tr>
</table>


<!--/trade-->
<!-- row template for users in /trade-->
<table hidden="true">
    <tr class="tradeSampleRow">
        <td class="tradeId">Id</td>
        <td class="tradeName">Name</td>
        <td class="tradeDisplayCards buttonContainer" onclick="toggleTable(false, event)">See Cards</td>
        <td class="friendButton buttonContainer" onclick="addFriend(event)">Add Friend</td>
        <td><a class="tradeButton">Trade</a></td>
    </tr>
</table>

<!--row template for trades in /trade-->
<table hidden="true">
    <tr class="tradeSampleRow2">
        <td class="tradeId" hidden="true">ID</td>
        <td class="tradeStatus">STATUS</td>
        <td class="tradeName" style="width: 50%;">Username</td>
        <td style="width: 10%;" class="buttonContainer" onclick="toggleTable(false, event, 'trade')">Cards</td>
        <td style="width: 10%;" class="buttonContainer" onclick="tradeAction(event, 'ACCEPTED')"><button class="acceptButton">Accept</button></td>
        <td style="width: 10%;" class="buttonContainer" onclick="tradeAction(event, 'REJECTED')"><button class="rejectButton">Reject</button></td>
        <td style="width: 10%;" class="buttonContainer" onclick="tradeAction(event, 'CANCEL')"><button class="cancelButton" >Cancel</button></td>
        <td style="width: 10%;" class="buttonContainer" onclick="tradeAction(event, 'COUNTER')"><button class="counterButton">Counter</button></td>
    </tr>
</table>

<figure hidden="true" class="cardImgSample">
    <img class="card" data="0">
    <figcaption class="cardCount" hidden="true">0</figcaption>
</figure>