body {
    margin:0%;
    background-image: linear-gradient(to right, #2c4560, #08294d);
}

input {
    margin-left: 1%;
    float: right;
    padding: 1%;
}

#searchBar {
    float: none;
    height: auto;
}

.horizontalAlignContainer{
    display: flex;
    flex-direction: row;
    justify-content: top;
    align-items: top;
    width: 98%;
    height: auto;
    margin: 1%;
}

#largeImage{
    margin-left: auto;
    margin-right: auto;
    height: 25.8vw;
    position: -webkit-sticky;
    position: sticky;
    top: 5px;
}

#deck{
    float: right;
}

table {
    margin-bottom: 5%;
}

.deckBuilderTable{
    width: 35.4vw; /*Five cards worth */
    height: inherit;
}

.cardTable tbody{
    background-color: var(--bg);
    overflow-y: visible;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(5, 1fr);
}

#testHandCardsTable {
    height: auto;
    width: auto;
    background-color: var(--bg);
}

.card, .cardImage{
    width: 7.08vw;
    height: 10.32vw;
}

.card{
    padding-top: 85%;
}

.value, .quantity {
    background-color: white;
    float: right;
    clear: right;
    padding: 1%;
    width: auto;
    height: auto;
    margin: 0;
    background-color: var(--fg_highlight);
    color: var(--txt);
    border-radius: 5px;
    padding: 3%;
}

h3{
    height: 5%;
    width: auto;
    float: left;
    margin: 1%;
    color: white;
}