.horizontalAlignContainer{
    display: flex;
    flex-direction: row;
    justify-content: top;
    align-items: top;
    width: 98%;
    height: 100%;
    margin: 1%;
}


#collection{
    margin-right: 6%;
}
#deck{
    float: right;
}
.deckBuilderTable{
    width:45%;
    height: inherit;
}

.card{
    width: 8.85vw;
    height: 12.9vw;
}

h3{
    height: 10%;
    margin:0px;
}