/*.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }
*/


/* table */
#table{
    border: 1px solid;
    display: block;
    overflow-y: scroll;
    height:80%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid;
    padding: 1%;
    height: fit-content;
    text-align: center;
}

th{
    border: 1px solid;
    position: sticky;
    top:0;
}

#adminTableInfoPopUp{
    background-color: #000000AA;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#adminTableInfoTable{
    background-color: white;
    position: absolute;
    bottom: 10%;
    right: 10%;
    border: 3px solid;
    border-radius: 0.2em;
    width: 80%;
    height: 80%;
    padding: 5%;
    z-index: 1;

    display: grid;
}