/* table */
table {
    border: 1px solid;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

td, th {
    border: 1px solid;
    padding: 1%;
    text-align: center;
}


.popup{
    background-color: #000000AA;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.popupContents {
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    background-color: white;
    border-collapse: collapse;

    position: absolute;
    bottom: 10%;
    right: 10%;

    border: 3px solid;
    border-radius: 0.2em;

    width: 80%;
    height: 80%;
    padding: 5%;
    z-index: 1;

}

.popupContents tbody, .popupContents tbody label{
    border: 1px solid;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100%;
    height:100%;
    text-align: center;
}


.cardTable tbody{
    overflow-y: scroll;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(5, 1fr);
}

.card{
    width: 100%;
    min-height: 5vw;
    padding-top: 75%;
    padding-bottom: 75%;
}

select {
    width: 100%;
    height: 100%;
}