.horizontalAlignContainer{
    display: flex;
    flex-direction: row;
    justify-content: top;
    align-items: top;
    width: 98%;
    height: 100%;
    margin: 1%;
}

.tradeSelectionTable{
    width:30%;
}

h3{
    height: 10%;
    margin:0px;
}

.horizontalAlignContainer .card{
    width: 100%;
}

.priceLabel{
    display: inline-block;
    width: 32%;
    text-align: center;
}