<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "utf-8"/>
	<title>Admin - AIO DLD</title>
	<link rel="stylesheet" href="stylesheets/main.css"/>

    <script src="/scripts/admin.js" defer></script>
</head>

<body onload="adminSetUp()">
    
    <%- include ("../partials/aio_dld_header.ejs") %>

    <!-- row template for user data-->
    <table hidden="true">
        <tr class="adminSampleRow">
            <td class="online">online</td>
            <td class="id">id</td>
            <td class="username">name</td>
            <td class="password">pass</td>
            <td><button onclick="toggleTable(false,'Owned Cards',event)">cards</button></td>
            <td><button onclick="toggleTable(false,'Friends',event)">friends</button></td>
            <td><button onclick="toggleTable(false,'Ongoing Trades',event)">trades</button></td>
            <td class="type">type</td>
        </tr>
    </table>

    <h1>User Data</h1>
    <p>Click on "friends", "trades", "cards" to view full array in a popup. 
        Click outside the popup to close.</br>

        To finish/implement:</br>
        - online status </br>
        - pop up scrolling
    </p>

    <!-- search-->
    <div>
        <input id="searchBox" placeholder="Search User" onkeyup="filterUsers()"/>
        
        <input type="checkbox" value="ADMIN" id="adminCheckbox1" checked="checked" onclick="filterUsers()">
        <label for="adminCheckbox1">ADMIN</label>
        <input type="checkbox" value="USER" id="adminCheckbox2" checked="checked" onclick="filterUsers()">
        <label for="adminCheckbox2">USER</label>
    </div>

    <!-- table with all user data-->
    <div id="userTableContainer">
        <table id="userTable">
            <tr>
                <th>ONLINE</th>
                <th>ID</th>
                <th>USERNAME</th>
                <th>PASSWORD</th>
                <th>CARDS</th>
                <th>FRIENDS</th>
                <th>TRADES</th>
                <th>TYPE</th>
            </tr>
            <td class="noMatchMessage" hidden="true" colspan="8">No users</td>
        </table>
    </div>

    <!-- use to display card/friend/trade info-->
    <div class="popup" id="adminTableInfoPopUp" onmouseup="toggleTable(true,0,event)" hidden="true">
        <table class="popupContents" id="adminTableInfoTable">
            <thead>
                <th id="adminTableInfoHeader">ColName</th>
            </thead>
            <td class="noMatchMessage" hidden="true">Nothing to Show</td>
            <tbody></tbody>
        </table>
    </div>

    <!-- store data from database in local variable-->
    <script>
        let userData = <%- JSON.stringify(results)%>;
    </script>
</body>