<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "utf-8"/>
	<title>Deck Editor</title>
	<link rel="stylesheet" href="/stylesheets/main.css"/>
    
</head>

<body>

    <%- include ("../partials/aio_dld_header.ejs") %>

    <ul>
        <% for (var i = 0; i < collection.length; i++) { %>
            <li><%= cards[i].name %> : x<%= collection[i] %></li>
        <% }; %>
    </ul>
    
</body>