<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <title>Welcome to AIO DLD</title>
</head>

<%- include ("../partials/aio_dld_header.ejs") %>

<body>
    <div class="Content">
        <p>Welcome to the AIO DLD!</p>
        <% if (user) { %>
            <p>Hello <%= user.name %>!</p>
        <% } else { %>
            <p>Please <a href="/login">Login Here</a></p>
        <% } %>
    </div>    
</body>

</html>