<!DOCTYPE html>
<!-- basic login page -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/login" method="post">
        <div>Login</div>
        <table id="login form">
            <tr>
                <th>Username:</th>
                <td><input type="username" id="username" name="username"  placeholder="username"></td>  
            </tr>
            <tr>
                <th>Password:</th>
                <td><input type="password" id="password" name="password"  placeholder="password"></td> 
            </tr>

            <input type="submit"   id="submit" value="Log in">
        </table>
    </form>

    <a href="/signup">sign up</a>
</body>

</html>