<!DOCTYPE html>
<html>
    <head>
        <title>Box Selection - AIO DLD</title>
        <link rel="stylesheet" href="/../../stylesheets/packOpener.css">
    </head>

    <body>
        <%- include ("../partials/aio_dld_header.ejs") %>

        <div class="Content">
            <h1 align="center">Box Selection</h1>
            
            <form action="/box/1" align="center" method="get">
                <input class="select" type="submit" value="The Ultimate Rising">
            </form> <br>
            <form action="/box/2" align="center" method="get">
                <input class="select" type="submit" value="Age Of Discovery">
            </form> <br>
            <form action="/box/3" align="center" method="get">
                <input class="select" type="submit" value="Neo-Impact">
            </form> <br>
            <form action="/box/4" align="center" method="get">
                <input class="select" type="submit" value="Flame Of The Tyrant">
            </form> <br>
            
            <script>
                //javascript here
            </script>

        </div>
    </body>
</html>