<!DOCTYPE html>
<html>
    <head>
        <title>Box Selection</title>
        <!-- <link rel="stylesheet" href="/../../stylesheets/main.css"> -->
    </head>

    <body>
        <div class="Content">
            <%- include ("../partials/aio_dld_header.ejs") %>

            <h1>Box Selection</h1>
            
            <form action="/box/1" method="get">
                <input type="submit" value="The Ultimate Rising">
            </form> <br>
            <form action="/box/2" method="get">
                <input type="submit" value="Age Of Discovery">
            </form> <br>
            <form action="/box/3" method="get">
                <input type="submit" value="Neo-Impact">
            </form> <br>
            <form action="/box/4" method="get">
                <input type="submit" value="Flame Of The Tyrant">
            </form> <br>
            

            <script>
                //javascript here
            </script>

        </div>
    </body>
</html>