<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "utf-8"/>
	<title>Trade - AIO DLD</title>
	<link rel="stylesheet" href="/stylesheets/main.css"/>
    <script src="/scripts/trade.js" defer></script>
</head>

<body onload="tradePageSetUp()">

    <%- include ("../partials/aio_dld_header.ejs") %>

    <h1>Trading</h1>
    <!-- row template for users-->
    <table hidden="true">
        <tr class="tradeSampleRow">
            <td class="tradeId">Id</td>
            <td class="tradeName">Name</td>
            <td class="tradeDisplayCards"><button onclick="toggleTable(false,event)">See Cards</button></td>
            <td><a class="tradeButton">Trade</a></td>
        </tr>
    </table>

    <!--buttons at top to toggle pages-->
    <div id="tradeTabs">
        <button onclick="changeTab('friends')">Friends</button>
        <button onclick="changeTab('all')">Search User</button>
    </div>

    <!--tables with users-->
    <div id="tradeUsers">
        <table id="tradeUserListFriends">
        </table>

        <table id="tradeUserListAll" hidden="true">
            <tr>
                <td colspan="4"><input placeholder="Search User" onkeyup="search(event)"></input></td>
            </tr>
        </table>
    </div>

    <!-- use to display cards info-->
    <div class="popup" id="tradeTableInfoPopUp" onmouseup="toggleTable(true,0,0)" hidden="true">
        <table class="popupContents" id="tradeTableInfoTable">
            <thead>
                <th>Cards</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
        
    <!-- store data from database in local variables-->
    <script>
        let userData = <%- JSON.stringify(results)%>;
        let userId = <%=id%>;
    </script>
</body>