<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "utf-8"/>
	<title>Trade Selection - AIO DLD</title>
	<link rel="stylesheet" href="/stylesheets/main.css"/>
	<link rel="stylesheet" href="/stylesheets/tradeSelection.css"/>
    <script src="/scripts/tradeSelection.js" defer></script>
</head>

<body onload="tradeSelectionPageSetUp()">

    <%- include ("../partials/aio_dld_header.ejs") %>

    <h1>Trade Selection</h1>
    <hr>
    <div class="horizontalAlignContainer" style="height: 60vh;">

        <!--Display own card inventory-->
        <div id="initiatorCards" class="tradeSelectionTable">
            <h3>Owned Cards</h3>
            <table id="initiatorCardsTable" class="cardTable" style="height: 90%;">
                <td class="noMatchMessage" hidden="true">No Cards</td>
            </table>
        </div>

        <!--middle section-->
        <div style="height:100%; width: 40%;">
            <p id="tradeSelectionValue" style="text-align: center;">$999.99 Total Value $999.99</p>
            <div class="horizontalAlignContainer" style="height: 90%;">
                <!--Display offered cards-->
                <div id="offeredCards" class="tradeSelectionTable" style="height: 100%; width: 50%;">
                    <h3>Offer</h3>
                    <table id="offeredCardsTable" class="cardTable" style="height: 90%;">
                        <td class="noMatchMessage">No Cards</td>
                    </table>
                </div>

                <!--Display wanted cards-->
                <div id="wantedCards" class="tradeSelectionTable" style="height: 100%; width: 50%;">
                    <h3>Request</h3>
                    <table id="wantedCardsTable" class="cardTable" style="height: 90%;">
                        <td class="noMatchMessage">No Cards</td>
                    </table>
                </div>
            </div>
        </div>

        <!--Display receiver's card inventory-->
        <div id="receiverCards" class="tradeSelectionTable">
            <h3>Trader's Cards</h3>
            <table id="receiverCardsTable" class="cardTable" style="height: 90%;">
                <td class="noMatchMessage" hidden="true">No Cards</td>
            </table>
        </div>
    </div>
    
    <button onclick="tradeSendRequest()" style="position:fixed; bottom: 0%; margin-bottom: 1%;">Send Trade Request</button>
        
    <!-- store data from database in local variables-->
    <script>
        let user1 = <%- user1%>;
        let user2 = <%- user2%>;
    </script>
</body>